{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - {% translate "Human rights index" %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'hri/css/style.css' %}">
</head>

<body>
    <div id="header">
        <span id="logo"><a href="/"><img src="{% static 'hri/images/logo.svg' %}"></a></span>
        <span id="page-title">{% translate "Human rights index" %}</span>
        <span id="navigation"><a class="nav-item" href="{% url "text" "about" %}">{% translate "About the project" %}</a>

            {% load i18n %}

<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select class="nav-item" name="language" onchange="this.form.submit()">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
</form>

        </span>
    </div>

    <div id="content-wrapper">

        <div id="content">

            {% block content %} {% endblock %}

        </div>
    </div>
<footer>
    <p><a href="{% url "text" "privacy" %}">{% translate "Privacy policy" %}</a></p>
    <div class="footer-logos">
    <img src="{% static 'hri/images/TJA_baltas.svg' %}">
    <img src="{% static 'hri/images/saplinq_logo_baltas.svg' %}">
    <img src="{% static 'hri/images/ILGA_logo_baltas.svg' %}">
    <img src="{% static 'hri/images/EU_logo_baltas.svg' %}">
    <img src="{% static 'hri/images/JRA_logo_B.svg' %}">
    <img src="{% static 'hri/images/Rosa_logo_baltas.svg' %}">
    </div>
    <p>
        {% blocktranslate %}
    This instrument is part of two projects, "Rainbow Challenge – Twin Communities on
            Human Rights." The project is partially funded by the European Union.
            However, the opinions and views expressed are solely those of the authors
            and do not necessarily reflect the views of the European Union or the
            Agency of Youth Affairs (Lithuania). Neither the European Union nor the
            granting authority can be held responsible for them. The development of
            this instrument was partially supported by the Rosa Luxemburg Foundation
            under the project "Rainbow Challenge – Communities on Human Rights."
        {% endblocktranslate %}
    </p>
</footer>
<script src="{% static 'hri/js/functions.js'%}"></script>
</body>
</html>
