{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'hri/css/style.css' %}">
</head>

<body>
    <div id="header">
        <span id="logo"><a href="/"><img src="{% static 'hri/images/logo.svg' %}"></a></span>
        <span id="page-title">{% translate "Human rights index" %}</span>
        <span id="navigation"><a href="{% url "about" %}">{% translate "About" %}</a>

            {% load i18n %}

<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
</form>

        </span>
    </div>

    <div id="content">

    {% block content %} {% endblock %}

    </div>

</body>
</html>
