{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'hri/css/style.css' %}">
</head>

<body>
    <div id="header">
        <span id="logo"><a href="/"><img src="{% static 'hri/images/logo.svg' %}"></a></span>
        <span id="page-title">{% translate "Human rights index" %}</span>
        <span id="navigation"><a href="{% url "about" %}">{% translate "About" %}</a> </span>
    </div>

    <div id="content">

    {% block content %} {% endblock %}

    </div>

</body>
</html>
