{% extends 'hri/base.html' %}
{% load i18n %}

{% block content %}
  <div class="search-container">
    <h1 class="search-title">{% translate "Search for a group" %}</h1>
    
    <form method="post" class="search-form">
      {% csrf_token %}
      <div class="form-fields">
        {{ form.as_p }}
      </div>
      <button type="submit" class="search-button">{% translate "Search" %}</button>
    </form>

    {% if group %}
      <div class="group-details">
        <h2 class="details-title">{% translate "Group Details" %}:</h2>
        <p class="details-item"><strong>{% translate "Code" %}:</strong> {{ group.code }}</p>
        {% if group.score %}
          <p class="details-item"><strong>{% translate "Score" %}:</strong> {{ group.score|floatformat:0 }}</p>
        {% endif %}
        <p class="vulnerability-scale">
          0-20: {% translate "very vulnerable" %}<br>
          21-40: {% translate "more vulnerable" %}<br>
          41-60: {% translate "medium vulnerability" %}<br>
          61-80: {% translate "a little vulnerable" %}<br>
          81-100: {% translate "very invulnerable" %}
      </p>
      </div>
    {% endif %}
  </div>
{% endblock %}

