{% extends "hri/base.html" %}
{% load i18n %}

{% block content %}
<p class="bold-before-colon">
    {% translate "Your personal human rights index" %}:
    <br>
    {{ survey.score|floatformat:0 }} {% translate "out of 100 points" %}.
</p>

<p class="bold-before-colon">
    {% translate "Vulnerability" %}: 
    <br>
    {% if survey.score <= 20 %}
        {% translate "very vulnerable" %}
    {% elif survey.score <= 40 %}
        {% translate "more vulnerable" %}
    {% elif survey.score <= 60 %}
        {% translate "medium vulnerability" %}
    {% elif survey.score <= 80 %}
        {% translate "a little vulnerable" %}
    {% else %}
        {% translate "very invulnerable" %}
    {% endif %}
</p>

{% if group %}
<p class="bold-before-colon">
    {% translate "Human right index for your group" %}:
    <br>
    {{ group.score|floatformat:0 }} {% translate "out of 100 points" %}.
</p>

<p class="bold-before-colon">
{% translate "Group vulnerability" %}:
{% if group.score <= 20 %}
    {% translate "very vulnerable" %}
    {% elif group.score <= 40 %}
    {% translate "more vulnerable" %}
    {% elif group.score <= 60 %}
    {% translate "medium vulnerability" %}
    {% elif group.score <= 80 %}
    {% translate "a little vulnerable" %}
    {% else %}
    {% translate "very invulnerable" %}
    {% endif %}
</p>
{% endif %}

<p class="vulnerability-scale">
    0-20: {% translate "very vulnerable" %}<br>
    21-40: {% translate "more vulnerable" %}<br>
    41-60: {% translate "medium vulnerability" %}<br>
    61-80: {% translate "a little vulnerable" %}<br>
    81-100: {% translate "very invulnerable" %}
</p>

{% blocktranslate %}
    Human rights matter to everyone – no matter your quiz result, if you're feeling unsafe or going through a
    difficult time, it's important to know that help is available. You can find emotional and psychological
    support through national services or local organizations. And if reaching out to unfamiliar professionals
    feels hard, you can always contact a trusted youth or LGBTQ+ organization – together, we’ll find a way forward.
{% endblocktranslate %}

{% endblock %}